{{#ui-form as |form|}}

  {{#if errors.length}}
    {{#ui-message theme="error"}}
      {{#each errors as |error|}}
        {{#if (eq error.title "not_authed")}}
          Sorry, your card was not authorised. Please try again or use another card.
        {{else if (eq error.title "rejected")}}
          Sorry, your card was not rejected. Please try again or use another card.
        {{else if (eq error.title "unsupported")}}
          Sorry, there appears to have been an error with your payment. Please try again or use another card.
        {{else if (eq error.title "malformed")}}
          Sorry, there appears to have been an error with your payment. Please try again or use another card.
        {{else if (eq error.title "invalid")}}
          Sorry, that card information does not appear to be valid. Please try again or use another card.
        {{else if (eq error.title "error")}}
          Sorry, there appears to have been an error with your payment. Please try again or use another card.
        {{else if (eq error.title "overpayment_not_allowed")}}
          This order appears to have already been paid. Please check your email for confirmation or if it has been more than a few hours please contact customer services.
        {{else}}
          Sorry, there appears to have been an error with your payment. Please try again, use another card or contact customer services.
        {{/if}}
        
      {{/each}}
    {{/ui-message}}
  {{/if}}

  {{#form.fieldset class="wide-details"}}

    {{#form.inset-textfield
      label="Card number*"
    }}
      {{input-credit-card-number
        class="textfield-input"
        placeholder=""
        number=(mut payment.cardNumber)
      }}
    {{/form.inset-textfield}}

    {{form.inset-textfield
      label="Name*"
      inputId="cardholder-field"
      value=(mut payment.cardholder)
    }}
  {{/form.fieldset}}

  <div class="short-details">

    {{#form.fieldset}}
      {{#form.inset-textfield
        label="Expiry date*"
        inputId="expiry-date-field"
      }}
        {{input-credit-card-expiration
          class="textfield-input"
          month=(mut expiryMonth)
          year=(mut expiryYear)
        }}
      {{/form.inset-textfield}}

      {{#form.inset-textfield
        label="CVV (Last 3 digits)*"
        inputId="cvv-field"
      }}
        {{input-credit-card-cvc
          class="textfield-input"
          cvc=(mut payment.cvv)
        }}
      {{/form.inset-textfield}}
    {{/form.fieldset}}
  </div>

  {{ui-button
    class="btn-continue"
    label="Complete payment"
    onclick=(action createPayment payment)
    iconLeft="padlock-white"
    iconRight="chevron-right-white"
    isDisabled=cannotSubmit
    isLoading=isSubmitting
  }}

{{/ui-form}}