<div class="quantity">
  <button class="decrement" {{action "decrement"}} disabled={{cannotDecrement}}>
      <span class="minus">-</span>
  </button>
  <div class="quantity-value">
      {{skuBasketItemQuantity}}
  </div>
  <button class="increment" {{action "increment"}} disabled={{cannotIncrement}}>
      <span class="plus">+</span>
  </button>
</div>

{{#unless noSkuDetails}}
  <div class="sku-details">
    <div class="name">
      {{sku-title sku skuTitleTemplate}}
    </div>
    <div class="price">x{{skuBasketItemQuantity}} {{format-money (pence-to-pounds lineTotal) symbol="£"}}</div>
  </div>
{{/unless}}