<label class="textfield-label" for={{inputId}}>
  {{label}}
  {{#if hasQualifier}}
    <span class="{{if qualifierIcon 'qualifier-icon'}}"></span>
  {{/if}}
</label>
{{#if hasBlock}}
  {{yield}}
{{else}}
  {{input type=type id=inputId class="textfield-input" value=(mut value)}}
{{/if}}
<button class="clear-btn" {{action "clear"}} tabindex="-1">x</button>
{{#if hasQualifier}}
  <div class="qualifier {{if qualifierIcon 'qualifier-icon'}}">
    {{qualifierText}}
  </div>
{{/if}}
{{#if showMessage}}
  <div class="error">
    {{validations.message}}
  </div>
{{/if}}
{{#if hasTextfieldMessage}}
  <label class="textfield-message" for={{fieldId}}>
    {{textfieldMessage}}
  </label>
{{/if}}