 {{#box-raised}}
  <div class="heading">
    Order summary
  </div>

  <div class="total-item-count">
    <div class="label">
      Items in Basket:
    </div>
    <div class="value">
      {{source.quantity}}
    </div>
  </div>

  <div class="total-price">
    <div class="label">
      Total:
    </div>
    <div class="value">
      {{format-money (pence-to-pounds totalBeforeDiscount) symbol="£"}}
    </div>
  </div>

  {{#if hasPromotionLines}}
    <div class="promotions">
      {{#each promotionLines as |promotionLine|}}
        <div class="payment">
          <div class="label">
            Promotion - 
            {{promotionLine.promotion.code}}:
          </div>
          <div class="value">
            {{format-money (pence-to-pounds promotionLine.price) symbol="£"}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}  

  {{#if hasPayments}}
    <div class="payments">
      {{#each payments as |payment|}}
        <div class="payment">
          <div class="label">
            Payment - 
            {{#if (eq payment.paymentMethod.name 'Tesco Clubcard')}}
              Tesco
            {{else}}
              Card
            {{/if}}

          </div>
          <div class="value">
            -{{format-money (pence-to-pounds payment.amount) symbol="£"}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  <div class="unpaid-balance">
    <div class="label">
      To pay:
    </div>
    <div class="value">
      {{format-money (pence-to-pounds source.balance) symbol="£"}}
    </div>
  </div>

  <div class="footer-actions">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#link-to "basket" class="back-to-basket-btn"}}
        Back to basket
      {{/link-to}}
    {{/if}}
  </div>
{{/box-raised}}
