 {{#box-raised}}
  <div class="heading">
    Order summary
  </div>

  {{#if showPromotionalSaving}}
    <div class="saving">
      <h4>You've saved!</h4>
      <div class="amount">
        The promotion <strong>{{vouchercode.code}}</strong> has saved you <strong>£{{totalDiscount}}</strong>.
      </div>
    </div>
  {{/if}}

  {{#if showAdvanceSaving}}
    <div class="saving">
      <h4>You've saved!</h4>
      <div class="amount">
        You've saved £{{advanceSavingAmount}} compared to buying on the day.
      </div>
    </div>
  {{/if}}

  <div class="total-item-count">
    <div class="label">
      Items in Basket:
    </div>
    <div class="value">
      {{totalQuantity}}
    </div>
  </div>

  <div class="total-price">
    <div class="label">
      Total:
    </div>
    <div class="value">
      {{format-money (pence-to-pounds totalPrice) symbol="£"}}
    </div>
  </div>
  
  {{#if hasPayments}}
    <div class="payments">
      {{#each payments as |payment|}}
        <div class="payment">
          <div class="label">
            Payment - 
            {{#if (eq payment.paymentMethod.name 'Tesco Clubcard')}}
              Tesco
            {{else}}
              Card
            {{/if}}

          </div>
          <div class="value">
            -{{format-money (pence-to-pounds payment.amount) symbol="£"}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  <div class="unpaid-balance">
    <div class="label">
      To pay:
    </div>
    <div class="value">
      {{#if hasOrder}}
        {{format-money (pence-to-pounds order.balance) symbol="£"}}
      {{else}}
        {{format-money (pence-to-pounds totalPrice) symbol="£"}}
      {{/if}}
    </div>
  </div>

  <div class="footer-actions">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#link-to "basket" class="back-to-basket-btn"}}
        Back to basket
      {{/link-to}}
    {{/if}}
  </div>
{{/box-raised}}
