  <div class="select-tickets-form-inner">
    <div class="ticket-title">
      <span class="top">{{title}}</span>
    </div>

    {{#if isShowingForm}}

      <div class="instructions">
        Select your ticket options
      </div>

      {{#if errors}}
        <div class="error-message">
          {{#each errors as |error|}}
            <div class="error">
              {{#if (eq error.detail 'BELOW_MINIMUM_REQUIRED')}}
                You must purchase at least {{product.minQuantity}}.
              {{/if}}
              {{#if (eq error.detail 'ABOVE_MAXIMUM_REQUIRED')}}
                You can only purchase a maximum of {{product.maxQuantity}} (you may already have some in your basket).
              {{/if}}
              {{#if (eq error.detail 'SESSION_DATES_DONT_MATCH')}}
                There is a problem with the dates you selected. Please refresh the page and try again.
              {{/if}}
              {{#if (eq error.detail 'DATE_NOT_AVAILABLE')}}
                Sorry, the date you selected is no longer available. Please try a different date.
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}

      <form>
        {{#if requiresDate}}
          {{#jumbo-select
            class="select-date"
            label="Your visit date..."
            value=dateLabel
            isDisabled=isDateSelectionDisabled
            icon="calendar"
            isShowingPopup=isShowingCalendar
          }}
            {{calendar-controls
              displayDate=displayDate
              maxDate=maxDate
              minDate=minDate
              changeDisplayDate=(action "changeDisplayDate")
              hidePrevLabel=true
              hideNextLabel=true
            }}
            {{calendar-month
              displayDate=displayDate
              selectedDate=date
              days=days
              selectDate=(action "selectDate")
            }}
            {{#if isLoadingSkus}}
              <div class="is-loading-skus">
                {{ui-spinner borderWidth="3px" width="64px" height="64px"}}
              </div>
            {{/if}}
          {{/jumbo-select}}
        {{/if}}

        {{#jumbo-select
          class="select-visitors"
          label=whosVisitingLabel
          value=selectVisitorsLabel
          isDisabled=isSelectVisitorsDisabled
          icon="people"
          isShowingPopup=isShowingVisitors
        }}
          <div class="skus-wrapper">
            {{#if chooseSessions}}
              {{!--sessions-quantity-select
                product=product
                date=date
                skus=skus
                sessions=sessions
                hasSessionLoadingError=hasSessionLoadingError
                sessionLabel=product.sessionLabel
                titleTemplate=product.titleTemplate
                isLoading=isLoadingSessions
                soldOutDates=soldOutDates
                basketItems=basketItems
                canIncrement=canIncrementForProduct
                createBasketItem=createBasketItem
                deleteBasketItem=deleteBasketItem
              --}}
            {{else}}
              {{#each filteredSkus as |sku|}}
                {{sku-quantity-minus-plus
                  sku=sku
                  date=date
                  basketItems=basketItems
                  skuTitleTemplate=productFieldsHash.skuTitleTemplate
                  canIncrementForProduct=canIncrementForProduct
                  createBasketItem=createBasketItem
                  deleteBasketItem=deleteBasketItem
                }}
              {{/each}}
            {{/if}}
          </div>

          {{ui-button
            label="Continue"
            class="continue-btn"
            size="large"
            onclick=(action "selectVisitors")
          }}
        {{/jumbo-select}}

        {{#if hasCondition}}
          {{!--#ui-form-checkbox
            fieldId="condition-checkbox"
            isChecked=hasAcceptedCondition
          }}
            <strong>{{conditionMessage}}</strong>
          {{/ui-form-checkbox--}}
        {{/if}}

        {{#ui-button
          class="add-to-basket-btn"
          size="large"
          isDisabled=cannotSubmit
          onclick=(action addToBasket basketItems)
          isLoading=isSubmitting
        }}
          <span class="label">
            Add to basket
            {{#if canSubmit}}
              <span class="summary">
                {{totalVisitors}} Tickets - £{{totalPrice}}
              </span>
            {{/if}}
          </span>
        {{/ui-button}}

        {{#if hasSmallPrint}}
          <div class="small-print">
            {{#if hasMinQuantity}}
              <div class="min-quantity">
                You must choose a minimum number of {{productMinQuantity}} paid visitors.
              </div>
            {{/if}}
            {{#if hasMaxQuantity}}
              <div class="max-quantity">
                You can choose a maximum number of {{productMaxQuantity}} paid visitors.
              </div>
            {{/if}}

          </div>
        {{/if}}

      </form>
    {{/if}}

    {{yield}}

  </div>

