{{#if usesBgImage}}
  <div
    class="gallery-image"
    style={{safe-background-image activeItem.image.url}}
  >
  </div>

{{else}}
  {{#if activeItem.image.videoUrl}}
    <span class="gallery-video">
      {{{activeItem.image.videoUrl}}}
    </span>
  {{else}}
    {{log activeItem.image}}
    <img
      src={{activeItem.image}}
      class="gallery-image"
    />
  {{/if}}
{{/if}}
<nav class="gallery-navigation">
  <button class="previous" {{action "previous"}}>Previous</button>
  {{#each items as |item|}}
    <button class="nav-item {{if item.isActive 'is-active'}}">
      {{#if usesBgImage}}
        <span
          class="thumb"
          style={{safe-background-image item.image}}
          {{action "setActive" item}}
        >
      </span>
      {{else}}
        <img src={{item.image}} class="thumb" {{action "setActive" item}}/>
      {{/if}}
    </button>
  {{/each}}
  <button class="next" {{action "next"}}>Next</button>
</nav>
