{{#if usesBgImage}}
  <div
    class="gallery-image"
    style={{safe-background-image activeItem.image.originalUrl}}
  >
  </div>

{{else}}
  {{#if activeItem.image.videoUrl}}
    <span class="gallery-video">
      {{{activeItem.image.videoUrl}}}
    </span>
  {{else}}
    <img
      src={{activeItem.image.originalUrl}}
      class="gallery-image"
    />
  {{/if}}
{{/if}}

<nav class="gallery-navigation">
  <button class="previous" {{action "previous"}}>Previous</button>
  {{#each items as |item|}}

    <button class="nav-item {{if item.isActive 'is-active'}}">
      {{#if usesBgImage}}
        <span
          class="thumb"
          style={{safe-background-image item.image.orignalUrl}}
          {{action "setActive" item}}
        >
      </span>
      {{else}}
        <img src="{{item.image.originalUrl}}" class="thumb" {{action "setActive" item}}/>
      {{/if}}
    </button>
  {{/each}}
  <button class="next" {{action "next"}}>Next</button>
</nav>
